@import "bootstrap";


.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

h1 {
  color: navy;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}